.idea
nohup*


bibliography


classificationFSD/4-analyses


classificationHAR/4-analyses
classificationHAR/WISDM
classificationHAR/sandbox.py


datasets/FreeSpokenDigits/datasetSpike/*.bin
datasets/FreeSpokenDigits/datasetSonogram/*.bin

datasets/HumanActivityRecognition/datasetRaw/*.bin
datasets/HumanActivityRecognition/datasetSpike/*.bin
datasets/HumanActivityRecognition/datasetSonogram/*.bin


networkModels/FreeSpokenDigits/complete/*.keras
networkModels/FreeSpokenDigits/pruned/*.keras

networkModels/HumanActivityRecognition/complete/*.keras
networkModels/HumanActivityRecognition/pruned/*.keras


networkPerformance/FreeSpokenDigits/*.csv

networkPerformance/HumanActivityRecognition/*.csv


zzzzzkeyPerformanceIndicators

remoteConda
